body {
    background-color: black;
}

.square {
    background: #f5f5dd;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 6px;
    transform: SkewY(2deg);
    padding-top: 2px;
    width: 100%;   
    
}

.text {
    font-family: sans-serif;
    margin-bottom: 20px;
    margin-left: 20px;
    color: #000000;
    transform: skewY(2deg);
}

.grad1 {
    background: linear-gradient(#e8f5ff, #45b2ff);
    margin-left: 20px;
    border-radius: 50%;
    transform: skewY(2deg);   
    width: 100%;
    
}

.grad2 {
    background: linear-gradient(#ffa76a, #ff4431);
    margin-left: 20px;
    border-radius: 50%;
    transform: skewY(2deg); 
    width: 100%;
    
   
    
}

.grad3 {
    background: linear-gradient(#9a8478, #1e130c);
    margin-left: 20px;
    border-radius: 50%;
    transform: skewY(2deg);
    width: 100%;
}

.grad4 {
    background: linear-gradient(#072239, #07d173);
    margin-left: 20px;
    border-radius: 50%;
    transform: skewY(2deg);
    width: 100%;
    
}

p{ font-size: 16px;
    font-family: sans-serif;
    font-weight: normal;
    margin-top:20px;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:20px;
    padding-bottom: 20px;

}
h2{font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 30px;
}


 

  .carte:hover{
      transform: scale(1.05,1.05);
      animation-name: transition;
      animation-duration: 0.3s;
      animation-iteration-count:1;
      animation-fill-mode: forwards;
  }
     @keyframes transition{
            from{
                transform: scale(1,1);
            }

            to{
                transform: scale(1.05,1.05);
            }
     }
   
     .carte:hover  .square {
        animation-name: enhance;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
     }

     @keyframes enhance{
            from{
                    background-color: #f5f5dd ;
            }

            to{
                background-color: #dddddd;

            }

     }

.breach{
    transform: translateY(5px) ;
    width: 100%;
    height: auto;


}

.container{
    display: flex;
    flex-wrap: wrap;


}
@media(min-width: 600px) {  
    .container > div{ 
        width: 50%;

    }
}
@media(min-width: 900px){
    .container > div{
        width: 25%;
    }
}



